doctype html
html
  head
    title LogRocket Pug Example
    link(rel='stylesheet' href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
    style.
      body {
        background-image: url("background.jpg");
        background-repeat: no-repeat;
      }

      p#content {
        text-align: center;
        font-family: arial;
        color: #000000;
        font-size: 40px;
      }

      footer {
        padding-top: 3rem;
        padding-bottom: 3rem;
      }

      footer p {
        margin-bottom: .25rem;
        text-align: center;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .h1 {
        font-family: arial;
        color: #000000;
        font-size: 40px;
        
      }

      #header {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #42b3d5;
        color: #ffffff;
        font-size: 50px;
        border-radius: 100px;
        padding: 10px;
      }



  body

      include header.pug

      block content

      include footer.pug
    
      script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js')
      script(src='https://getbootstrap.com/docs/4.4/dist/js/bootstrap.bundle.min.js')